@media (max-width: 950px) {
  .item {
    &-description,
    &-right {
      font-size: 0.8rem;
    }
  }
}
@media (max-width: 800px) {
  .item {
    &-description,
    &-right {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 520px) {
  header {
    height: 250px;
    header:before {
      height: 250px;
    }
    padding: 0;
    .overall-container {
      .balance {
        font-size: 2rem;
      }
      .title {
        font-size: 0.8rem;
      }
      .income,
      .expenses {
        width: 250px;
      }
      .income-val,
      .expenses-val {
        font-size: 0.7rem;
      }
    }
  }

  input {
    margin: 0.1rem !important;
    font-size: 0.8rem !important;
  }
  .input-switch{
      margin-right: 0.5rem;
  }
  .btn-add{
      margin-left: 0.6rem;
  }
  .input-container {
    padding: 0;

    .input-description {
      width: 140px;
    }
    .input-value {
      width: 75px;
    }
  }
  .panel-container {
    grid-template-columns: 1fr;
    padding: 0 !important;
  }
  .item {
    padding: 0.5rem !important;
    &-description,
    &-right {
      font-size: 0.8rem;
    }
  }
}
