// Google Font: Montserrat
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$primary-color: #45b5aa;
$primary-color-light: #85b8b3;
$secondary-color: #f54d47;
$secondary-color-light: #f87974;
$light-color: #eee;
$dark-color: #333;
$overlay-darken: rgba(0, 0, 0, 0.6);
$website-width: 1100px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

// Util
.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}
.title {
  margin-bottom: 1rem;
  font-size: 1rem;
}
.btn {
  border: none;
  background: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
  &-add {
    i {
      color: $primary-color;
    }
  }
  &-delete {
    i {
      color: $secondary-color;
    }
    // When clicked
    &:active {
      transform: translateY(1px);
    }
  }
}

%percentage-shared {
  width: 35px;
  text-align: center;
  font-size: 0.7rem;
  padding: 0.3rem;
  border-radius: 6px;
  margin-left: 0.5rem;
}

// Header
header {
  padding: 1rem 5rem;
  background: $overlay-darken;
  color: #fff;
  flex-direction: column;
  height: 300px;
  overflow: hidden;

  // Overlay
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: $dark-color url("../img/bg.jpg") no-repeat center center/cover;

    width: 100%;
    height: 300px;
    z-index: -1;
  }
  .overall-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    .balance {
      margin-bottom: 1rem;
      font-size: 3rem;
      letter-spacing: 2px;
    }

    .income,
    .expenses {
      display: flex;
      justify-content: space-between;
      width: 320px;
      color: $dark-color;
      text-transform: uppercase;
      margin: 0.5rem 0;
      padding: 0.5rem 1rem;
      label {
        text-align: left;
        font-size: 0.8rem;
      }
      span {
        color: #fff;
        flex-grow: 1;
        text-align: center;
        letter-spacing: 1px;
      }

      &-left,
      &-right {
        display: flex;
        justify-content: space-between;
        height: 25px;
        align-items: center;
      }
    }

    .income {
      background: $primary-color;
    }

    .income-percentage,
    .expenses-percentage {
      background: $primary-color-light;
      font-size: 0.6rem;
      @extend %percentage-shared;
    }
    .income-percentage {
      visibility: hidden;
    }

    .expenses {
      background: $secondary-color;
      &-percentage {
        background: $secondary-color-light;
      }
    }
  }
}

// Section: user input
#user-input {
  background: $light-color;
  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    flex-wrap: wrap;

    input {
      padding: 1rem;
      margin: 0.5rem;
      background: #fff;
      border: #ddd 1px solid;
      border-radius: 5px;
      height: 40px;
      color: $dark-color;
      font-size: 1rem;
      &:focus {
        outline: none;
        border: $primary-color 1px solid;
      }
    }
    .input-description {
      max-width: 250px;
    }
    .input-value {
      max-width: 100px;
    }

    // Slider switch
    .input-switch {
      width: 35px;
      height: 23px;
      color: $dark-color;
      background: none;
      border: none;
      position: relative;

      input {
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + .slider {
          background: $secondary-color;
        }
        &:focus + .slider {
          box-shadow: 0 0 1px $primary-color;
        }
        &:checked + .slider:before {
          transform: translateX(10px);
          -webkit-transform: translateX(10px);
          -ms-transform: translateX(10px);
        }
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 10%;
        right: 0;
        bottom: 0;
        background: $primary-color;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        border-radius: 34px;

        .sign:after {
          content: "+";
          position: absolute;
          top: 8%;
          right: 10%;
          color: #fff;
          font-size: 1rem;
          z-index: 1;
        }
        .sign:before {
          content: "-";
          position: absolute;
          top: 7%;
          left: 10%;
          color: #fff;
          font-size: 1rem;
          z-index: 1;
        }
        // circle
        &:before {
          content: "";
          width: 16px;
          height: 16px;
          position: absolute;
          left: 2px;
          bottom: 3px;
          background: #fff;
          transition: 0.4s;
          -webkit-transition: 0.4s;
          border-radius: 50%;
        }
      }
    }
  }
}

// Section: Panel
.panel-container {
  //   border: 1px solid darkblue;
  //   height: 300px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  padding: 1rem;
  gap: 1rem;

  .panel-income,
  .panel-expenses {
    .income-title,
    .expenses-title {
      text-transform: uppercase;
      color: $primary-color;
      padding: 0.5rem;
      text-align: left;
      border-bottom: 1px solid $light-color;
    }

    .expenses-title {
      color: $secondary-color;
    }

    // Item in list
    .item {
      .item-delete {
        display: none;
      }
      display: flex;
      justify-content: space-between;
      //   margin-bottom: 1rem;
      color: $dark-color;
      border-bottom: dotted 0.5px $light-color;
      padding: 1rem;

      &-description,
      &-right {
        display: flex;
        height: 30px;
        align-items: center;
        div {
          margin-right: 0.7rem;
        }
      }
      &:nth-child(even) {
        background: #eee;
      }
      &:hover {
        background: #ddd;
        .item-delete {
          display: block;
        }
        .item-value,
        .item-percentage {
          transform: translateX(-5px);
        }
      }
      .item-value,
      .item-percentage {
        transition: transform 0.3s;
      }
      .item-value {
        letter-spacing: 0.6px;
      }
    }

    .income-list .item-value {
      color: $primary-color;
    }
    .expenses-list {
      .item-value {
        color: $secondary-color;
      }
      .item-percentage {
        font-size: 0.5rem;
        background: #f8dada;
        color: $secondary-color;
        @extend %percentage-shared;
      }
    }
  }
}
.chg-focus-color {
  .btn-add i {
    color: $secondary-color-light !important;
  }

  .input-description:focus,
  .input-value:focus {
    border: $secondary-color 1px solid !important;
  }
}
.entry-appear {
  animation: appear 0.8s forwards;
}
.entry-disappear-left {
  animation: disappear-left 0.8s forwards;
}
.entry-disappear-right {
  animation: disappear-right 0.8s forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear-left {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes disappear-right {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

@import "media";
